.general {background-color: #b9bfc9;
          border: 5px dashed;
          margin: 300px;
          margin-top: 20px;
          padding: 10px;
}
h1 { margin: 10px;
    position:center; }
image {position: top; }

